@using System
@using MGF.QOLMS.QolmsJotoWebView
@model IntegrationCompanyConnectionHomeViewModel

@{
    ViewData["Title"] = "企業連携ホーム";
    Layout = "~/Views/Shared/_IntegrationLayout.cshtml";
}

<header class="contents-header">
    <h1><img src="/dist/img/biz/biz-logo.png" /></h1>
</header>
<body id="menu" class="lower business">
    @Html.AntiForgeryToken()

    <main id="main-cont" class="clearfix" role="main">
        <section class="contents-area mb20">
            <!-- Yappli準拠：企業連携申請へのボタンのみ表示 -->
            <p class="center">
                <a href="@Url.Action("CompanyConnectionRequest", "Integration", new { fromPageNo = Convert.ToByte(Model.FromPageNoType), linkageSystemName = Model.LinkageSystemName })" class="btn btn-submit">企業連携登録</a>
            </p>
        </section>
    </main>

    @Html.Action("IntegrationFooterPartialView", "Integration")

    @Scripts.Render("~/dist/js/integration/companyconnectionhome")
</body>
