@using System
@using MGF.QOLMS.QolmsJotoWebView
@model IntegrationFitbitConnectionViewModel

@{
    ViewData["Title"] = "Fitbit連携";
    Layout = "~/Views/Shared/_IntegrationLayout.cshtml";
}

<body id="integration-Fitbit" class="lower">
    @Html.AntiForgeryToken()

    <main id="main-cont" class="clearfix" role="main">

        <section class="contents-area">
            <h2 class="title">Fitbit連携</h2>
            <hr>

            @if (!Model.FitbitConnectedFlag)
            {
                <p class="section default">
                    Fitbitとデータ連携の設定をします。<br />
                    連携すると、心拍数と運動強度(METs)を自動で取得します。<br />
                    Fitbitの連携許可画面ですべての許可が必要です。<br />

                    ※歩数データを自動取得する場合、ALKOOアプリでもFitbit連携の設定が必要です。<br />
                </p>
            }
            else
            {
                <p class="section default">
                    連携済み<br />
                    ※歩数データを自動取得する場合、ALKOOアプリでもFitbit連携の設定が必要です。
                </p>
            }

            <a href="jotohdr2://deep.link/action/open_browser?url=https%3A%2F%2Fwww.fitbit.com%2F" class="btn btn-submit block">Fitbitについて詳しく</a>

            @if (!Model.FitbitConnectedFlag)
            {
                <div class="submit-area">
                    <button id="connection" class="btn btn-submit" type="button">連携</button>
                </div>
            }
            else
            {
                <div class="submit-area">
                    <button id="cancel" class="btn btn-close" type="button">連携解除</button>
                </div>
            }
        </section>
    </main>

    @Html.Action("IntegrationFooterPartialView", "Integration")

    <script src="~/dist/js/jquery-3.7.1.min.js"></script>
    <script src="~/dist/js/bootstrap.bundle.js"></script>
    <script src="~/dist/js/slick.min.js"></script>
    <script src="~/dist/js/spc.lib.min.js"></script>
    <script src="~/dist/js/spc.util.min.js"></script>
    <script src="~/dist/js/page-script/mgf.js"></script>
    <script src="~/dist/js/page-script/mgf.portal.js"></script>
    <script src="~/dist/js/page-script/mgf.integration.Fitbitconnection.js"></script>
</body>
