@{
    Layout = "~/Views/Shared/_PointLayout.cshtml";
    ViewBag.Title = "JOTOポイントプログラム利用規約";
}

<body id="point-terms" class="lower">
    @Html.AntiForgeryToken()

    <main id="main-cont" class="clearfix" role="main">
        <section class="contents-area">
            <div id="contents-wrap">
                <h2 class="title relative">JOTOポイントプログラム利用規約</h2>
                <hr>

                <h4 class="line">第1条　（JOTOポイントプログラム）</h4>
                <ol class="mb15 num">
                    <li>
                        JOTOポイントプログラム（以下、本章においては、「本プログラム」といいます）とは、沖縄セルラー電話株式会社（以下、本章において「沖縄セルラー」といいます）が、ポイントプログラム規約（以下「本規約」といいます）に従って、本プログラムの対象者（以下、本章において「会員」といいます）に対し、JOTOポイントならびにその他特典を提供するプログラムです。
                    </li>
                    <li>
                        本プログラムは、本規約の他、沖縄セルラーが別途定める諸条件（以下、本章において「個別条件」といい、本規約と個別条件とを併せて以下、「本プログラム提供条件」といいます）に基づき実施、運営されます。なお、本規約の内容と個別条件の内容が矛盾する場合は、個別条件の内容が優先するものとします。
                    </li>
                </ol>

                <h4 class="line">第2条　（会員）</h4>
                <ol class="mb15 num">
                    <li>会員とは、沖縄セルラーが提供するJOTOホームドクターアプリをご利用し、auID、およびWow！IDを保有する会員をいいます。</li>
                    <li>沖縄セルラーは本章第8条に基づき会員を本プログラムから退会させることがあります。</li>
                    <li>会員は、本プログラム提供条件を遵守するものとします。</li>
                </ol>

                <h4 class="line">第3条　（JOTOポイントの付与・保有）</h4>
                <ol class="mb15 num">
                    <li>
                        JOTOポイント付与特典<br>
                        JOTOポイントの付与条件は、JOTOホームドクターアプリ「その他」に記載します。
                    </li>
                    <li>
                        JOTOポイントの付与方法・保有上限<br>
                        2.1　JOTOポイントは、沖縄セルラーが「ID利用規約」に基づき、会員に別途発行・付与するau IDまたはWow!ID毎に付与されます。<br>
                        2.2　会員が保有できるポイント数に上限はありません。
                    </li>
                    <li>
                        JOTOポイント付与の取消<br>
                        沖縄セルラーまたは第三者のシステムの障害等、会員による不正、その他沖縄セルラーが別途定める取消基準に該当した場合は、沖縄セルラーは、会員に付与したJOTOポイントを取り消すことができるものとします。
                    </li>
                    <li>
                        JOTOポイントの有効期間<br>
                        4.1.　JOTOポイントの利用が可能となる日から、当該ポイントが失効する日までの期間（以下、本章において「有効期間」といいます）は、付与されるJOTOポイントごとに通知します。ただし、特段の通知がない場合、当該ポイントの有効期間は、当該ポイントが付与された月から数えて6か月経過後の月末までとします。<br>
                        4.2.　有効期間を満了したJOTOポイントは自動的に失効します。沖縄セルラーは、失効したJOTOポイントに対して何らの補償も行いません。
                    </li>
                    <li>
                        JOTOポイントの照会<br>
                        会員は、JOTOホームドクターアプリより、自己が保有しているポイント数を照会することができます。
                    </li>
                    <li>
                        JOTOポイントの譲渡等<br>
                        会員は、JOTOポイントおよび本プログラムに係る権利を、第三者に譲渡、貸与、質入れし、または担保に供することはできません。
                    </li>
                </ol>

                <h4 class="line">第4条（JOTOポイントの利用）</h4>
                <ol class="mb15 num">
                    <li>
                        JOTOポイントの利用単位<br>
                        会員は、別途沖縄セルラーの定める利用単位にてJOTOポイントを利用することができます。
                    </li>
                    <li>
                        JOTOポイントの利用対象<br>
                        会員は、別途沖縄セルラーが定める商品、サービス等の代金に対して、JOTOポイントを利用することができます。この場合の詳細の条件（JOTOポイントの換算率に関する条件、利用できる会員の条件、利用できるJOTOポイントの条件、等）については、JOTOポイント利用時に表示される画面で提示される条件によるものとします。なお、会員は、JOTOポイントの利用の申込を撤回することはできないものとします。
                    </li>
                    <li>
                        JOTOポイントの利用申込<br>
                        会員は、沖縄セルラーの定める方法および条件に従って、JOTOポイントの利用を沖縄セルラーに申し込むものとします。
                    </li>
                    <li>
                        商品、サービス等<br>
                        沖縄セルラーは、会員がJOTOポイントを利用して得た物品・サービス等に対して、如何なる責任も負わないものとします。
                    </li>
                    <li>
                        JOTOポイントを利用した取引のキャンセル時の取扱い<br>
                        沖縄セルラーは、会員の責に帰すべき事由によらざる事由により、JOTOポイントを利用した取引がキャンセルになった場合、利用したJOTOポイントについて、当該取引の相手方が会員に補償等を行ったときを除き、沖縄セルラーの別途定める方法によりJOTOポイントを会員に返還し、またはJOTOポイントに相当する額を現金にて返金する等の対処を行うことがあります。
                    </li>
                    <li>
                        JOTOポイントの停止について<br>
                        会員が沖縄セルラーに対する料金等の支払いを遅延していることが判明した場合等、沖縄セルラーの判断で、会員によるポイント利用を停止することがあります。
                    </li>
                </ol>

                <h4 class="line">第5条（メルマガ・アプリ通知等による情報提供）</h4>
                <ol class="mb15 num">
                    <li>
                        情報提供<br>
                        沖縄セルラーは、沖縄セルラー所定の配信登録を行った会員（以下、本章において「メルマガ会員等」といいます）に対して、随時、JOTOポイントのプレゼントキャンペーン、会員向けの特典情報等を記載したメールマガジン（以下、本章において「メルマガ」といいます）の配信、およびアプリでの通知をします。
                    </li>
                    <li>
                        運用条件等<br>
                        メルマガの配信等に関する条件等は、沖縄セルラーにて別途定めるとおりとします。
                    </li>
                </ol>

                <h4 class="line">第6条（入会金、年会費）</h4>
                <p class="mb15">本プログラムの入会金や年会費は無料とします。</p>

                <h4 class="line">第7条（会員情報の取り扱い）</h4>
                <p class="mb15">
                    沖縄セルラーが本プログラムの提供にあたり取得する会員の情報（以下、本章において「会員情報」といいます）およびその利用目的については沖縄セルラーの定める「プライバシーポリシー」ならびに「個人情報取扱共通規約」に従うものとします。
                </p>

                <h4 class="line">第8条（会員の資格の喪失）</h4>
                <p class="mb15">
                    会員が以下のいずれかに該当する場合、会員資格を失います。また、会員が会員資格を失った場合、その時点で会員が保有していたJOTOポイントは全て失効するものとします。<br>
                    ・入会時に虚偽の内容を申告した場合<br>
                    ・本規定等に違反した場合等、沖縄セルラーが会員として不適格であると判断した場合
                </p>

                <h4 class="line">第9条（本プログラムの変更および終了）</h4>
                <p class="mb15">
                    沖縄セルラーは、必要と認めたときには、沖縄セルラーの指定するWebサイトに掲載することにより、本プログラムの内容または本プログラム提供条件を変更することがあります。この場合、沖縄セルラーは、変更後の本プログラム提供条件を適用するものとします。
                    本プログラムは沖縄セルラーの都合により、一部またはすべてを停止または終了することがあります。
                </p>

                <h4 class="line">第10条（法令に規定する事項）</h4>
                <p class="mb15">
                    本プログラムの提供または利用にあたり、法令に定めがある事項については、その定めるところによります。
                </p>

                <h4 class="line">第11条（準拠法）</h4>
                <p class="mb15">
                    本プログラムに関する準拠法は、日本国法とします。
                </p>
            </div>
        </section>
    </main>

    <section id="topbtn" class="hide topbtn__wrap">
        <a href="#" class="topbtn"></a>
    </section>

    @Html.Action("PointFooterPartialView", "Point")
</body>
