<section class="premium-info-box">
    <h4>健康年齢についての詳細情報が分かり、改善のアドバイスがもらえます！</h4>
    <div class="text-area">
        <p class="mb20">
            入力された健康情報をもとに、「あなた」のための的確なアドバイスを行います。
        </p>
        <p class="center">
            <img src="~/dist/img/premium-info/1.png" alt="健康年齢の詳細情報" />
        </p>
    </div>
</section>
<section class="premium-info-box">
    <h4>健康年齢が体重（BMI）によりリアルタイムに変化します！</h4>
    <div class="text-area">
        <p class="mb20">
            体型維持やボディメイクを継続するモチベーションにつながります！
        </p>
        <p class="center">
            <img src="~/dist/img/premium-info/2.png" alt="BMIによる変化" />
        </p>
    </div>
</section>
<section class="premium-info-box">
    <h4>
        IOTOポイントを2倍ゲット！<br />
        交換先も増えます！
    </h4>
    <div class="text-area">
        <p class="mb20">
            ライト会員（無料会員）は1ヵ月最大で「<strong>310ポイント</strong>」<br />
            プレミアム会員だと「<strong class="high-light">620ポイント</strong>」貯まります！<br />
            さらに、ポイント交換先に<strong class="high-light">Pontaポイント</strong>および<strong class="high-light">Amazonギフト券</strong>が追加されます。
        </p>
    </div>
</section>
<section class="premium-info-box">
    <h4>医療費あと払いサービスが無料！！</h4>
    <div class="text-area">
        <p class="mb20">
            auユーザー限定で医療費あと払いサービスが無料でご利用できます！<br />
            <small>※月5回まで無料。ライト会員（無料会員）は108円（税込）がかかります。</small>
        </p>
    </div>
</section>
<p class="img-area center gray-bg-area">
    <img src="~/dist/img/premium-info/5.png" alt="医療費あと払いサービス" />
</p>
<p class="section default font-s">
    ※課金開始は翌月からとなります。<br />
</p>
