@{
    ViewData["Title"] = "退会";
    Layout = "~/Views/Shared/_PortalLayout.cshtml";
}

<body id="premium-withdraw" class="lower">
    <main id="main-cont" class="clearfix" role="main">
        <section class="contents-area">
            <h2 class="title relative">退会</h2>
            <hr />

            <div class="section default">
                <h3 class="title">プレミアム会員の退会</h3>
                <p>
                    こちらではプレミアム会員の退会が行えます。プレミアム会員を行った後に即反映いたします。
                    再加入される場合は、プレミアム会員ページをご確認の後再度ご加入をお願いいたします。
                    当月内であれば再加入したから費用は不要です。
                </p>
            </div>

            <div class="submit-area two-pane">
                <a class="btn btn-default js-withdraw-noop" href="javascript:void(0);">戻る</a>
                <a class="btn btn-submit js-withdraw-noop" href="javascript:void(0);">プレミアム会員を解約する</a>
            </div>
        </section>
    </main>

    <div id="white-out" class="hide">
        <div class="loader"></div>
        <div id="progress-area">
            <div class="progress progress-striped">
                <div class="progress-bar progress-bar-warning active" style="width: 100%"></div>
            </div>
            <span>100%</span>進行中…
        </div>
        <p id="text-area"></p>
    </div>

    <section id="topbtn" class="hide topbtn__wrap">
        <a href="#" class="topbtn"></a>
    </section>

    <script src="~/dist/js/jquery-3.7.1.min.js"></script>
    <script src="~/dist/js/bootstrap.bundle.js"></script>
    <script src="~/dist/js/spc.lib.min.js"></script>
    <script src="~/dist/js/spc.util.min.js"></script>
    <script src="~/dist/js/page-script/mgf.js"></script>
    <script src="~/dist/js/page-script/mgf.premium.js"></script>
    <script src="~/dist/js/page-script/mgf.premium.withdraw.js"></script>
</body>
