@{
    ViewData["Title"] = "市民確認エントリー";
    Layout = "~/Views/Shared/_PortalLayout.cshtml";

    DateTime dateNow = DateTime.Now;
}

<body id="challenge" class="lower ginowan">
    @*@Html.AntiForgeryToken()*@

    <main id="confirm" class="clearfix" role="main">

        @*<section class="home-btn-wrap" data-pageno="1">
            <a href="../Portal/Home" class="home-btn"><i class="la la-angle-left"></i></a>
        </section>*@
        <section class="contents-area mb20">

            <div class="box type-2">
                <img class="main-photo mb20" src="../dist/img/challenge/challenge-5/JOTO_3.jpg" width="100%" style="padding-top: 10px;">
            </div>

            <h2 class="main-title"><span>ぎのわんスマート健康増進プロジェクト​</span></h2>
            <p class="exp">
                アプリを使って健康づくりを始めてみませんか？？
                宜野湾市では、アプリを使って市民の皆さまが健康的な生活を送ることができるようサポートをする取り組みを行っています。例えば、日々の食事や歩数、健診結果などをアプリで管理できたり、健康的な生活により獲得した宜野湾市民限定ポイント※1をお買い物で利用することができます。
                今後は、オンラインによる健診予約、保健指導や、市民の皆さまそれぞれに合った健康づくりのアドバイスなど更にサービスを充実させてまいります。
                ぜひこの機会に、アプリを使って健康づくりをスタートしましょう。
                ※1ポイントの付与を受けるためには市民確認のためぴったりサービス申請が必要となります。
            </p>
            <p class="submit-area">
                <a href="/portal/LocalIdVerificationAgreement" class="btn btn-default">
                    さっそくはじめる
                </a>
            </p>
        </section>
    </main>
</body>