@{
    ViewData["Title"] = "医療費あと払いとは";
    Layout = "~/Views/Shared/_PortalLayout.cshtml";
}

<body id="pay-later-info" class="lower">
    @Html.AntiForgeryToken()

    <main id="main-cont" class="clearfix" role="main">
        <section class="home-btn-wrap" data-pageno="8">
            <a href="../Portal/MedicalPayment" class="home-btn"><i class="la la-angle-left"></i></a>
        </section>

        <section class="contents-area">
            <div id="contents-wrap">
                <h2 class="title relative"> 医療費あと払いとは </h2>
                <hr>

                <p class="center mb10"><img class="pay-later-logo" src="/dist/img/pay-later/info-logo.png" alt="医療費あと払いとは" /></p>
                <p class="mb20">対象の病院での医療費を「あと払い」にすることで受診後に会計を待たずにお帰りいただけるサービスです</p>

                <h3 class="title mt10"><span>メリット</span></h3>

                <h4 class="point-title"><i class="num">1</i><span>受診後会計持ち無しで帰れる</span></h4>
                <p class="center"><img class="w300" src="/dist/img/pay-later/info-1.png" alt="受診後会計持ち無しで帰れる" /></p>
                <p class="mb20">
                    病院の待ち時間、少しでも減らしたいと思ったことありませんか？<br>
                    <strong class="high-light">「医療費あと払い」を使えば、会計の待ち時間をなくすことができます。</strong><br>
                    だから、診察後すぐ帰れるんです。
                </p>

                <hr class="mb20">

                <h4 class="point-title"><i class="num">2</i><span>通院時必要なのは診察券のみ</span></h4>
                <p class="center"><img class="w300" src="/dist/img/pay-later/info-2.png" alt="通院時必要なのは診察券のみ" /></p>
                <p class="mb20">
                    通院時、必要なのは診察券だけ<br>
                    会計をする必要がないのでお財布いらず。<br>
                    <strong class="high-light">診察券さえあれば通院が可能になります。</strong>
                </p>

                <hr class="mb20">

                <h4 class="point-title"><i class="num">3</i><span>ご家族の分もまとめてお支払いできる</span></h4>
                <p class="center"><img class="w300" src="/dist/img/pay-later/info-3.png" alt="ご家族の分もまとめてお支払いできる" /></p>
                <p class="mb20">
                    家族の分もまとめて支払える<br>
                    <strong class="high-light">会員登録をした本人だけではなく家族の分もまとめてお支払い。</strong>
                </p>

                <p class="center">
                    <a href="@Url.Action("MedicalPaymentFlow", "Portal")" class="btn btn-link block">ご利用の流れ</a>
                </p>
            </div>
        </section>
    </main>

    @Html.Action("PortalFooterPartialView", "Portal")

    <script src="~/dist/js/jquery-3.7.1.min.js"></script>
    <script src="~/dist/js/bootstrap.bundle.js"></script>
    <script src="~/dist/js/slick.min.js"></script>
    <script src="~/dist/js/spc.lib.min.js"></script>
    <script src="~/dist/js/spc.util.min.js"></script>
    <script src="~/dist/js/page-script/mgf.js"></script>
    <script src="~/dist/js/page-script/mgf.portal.js"></script>
</body>